/*****************DROPDOWN SECTION********************************/
.dropbtn {
  border: none;
  cursor: pointer;
  width: 150px;
  padding: 12px 20px;
  border-radius: 20px;
  color: blue;
  font-size: 17px;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */
table {
  border-collapse: collapse;
  border-bottom: 2px solid #009879;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}

td, th {
  text-align: left;
  padding: 8px;
}
table th{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

tr:hover {
  background-color: #D6EEEE;
  color: blue;
  font-weight: bold;
}
#event-btn{
  color: #009879;
  background-color: #ffffff;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
}


.dropdown option {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 2% 5%;
}

.row .column1 #dropanddetails {
  display: flex;
  margin: 2% 5%;
}
.row .column1 {
  padding-right: 50px;
}
.column1 h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.column1 p {
  font-size: 25px;
  margin-bottom: 20px;
}
.column1 button{
  width: 150px;
  padding: 10px 10px;
  border-radius: 20px;
  border-style: none;
  color: blue;
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 3px;
  margin-bottom: 13px;
}
.wallet-display{
  width: 100px;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: none;
  color: blue;
  font-size: 17px;
  font-weight: 60;
  background-color: #ddd;
  margin: 2% 5%;
}
/* Header content responsive */
@media screen and (max-width: 980px) {
  .column2 img {
    width: 350px;
  }
  .column1 h1 {
    font-size: 40px;
  }
  .column1 p {
    font-size: 17px;
  }
  .row {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
  }
  .row .column1 {
    padding: 30px;
  }
}
