*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, rgba(200, 8,207, 0.75), rgba(28, 70, 184, 0.8)), url(./images/backgroundp-ubiquity.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.ReactModal_Overlay, .ReactModal_Overlay--after-open {
  background-color: rgba(33, 53, 30, 0.95) !important;
}

.ReactModal_Content, .ReactModal_Content-after-open {
  border: 0 !important;
  padding: 0 !important;
  
}